PANGEA.IMPORTSUITE.DataModel/Service References/MPA_SERVICE/MPAPortalSuiteGroup2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="MPAPortalSuiteService" elementFormDefault="qualified" targetNamespace="MPAPortalSuiteService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="MPAPortalSuiteValidateRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_request" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MPAPortalSuiteValidateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MPAPortalSuiteProcessRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_request" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MPAPortalSuiteProcessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MPAPortalSuiteImportPortalRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_request" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MPAPortalSuiteImportPortalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>