PANGEA.IMPORTSUITE.DataModel/Service References/MPA_RECON_DEPOSIT/MPABankReconciliationGroup1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="MPABankReconciliation" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="MPABankReconciliation" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="MPABankReconciliation/Imports">
      <xsd:import schemaLocation="http://ax-prod-aos-01:8101/DynamicsAx/Services/MPABankReconciliationGroup?xsd=xsd0" namespace="MPABankReconciliation" />
      <xsd:import schemaLocation="http://ax-prod-aos-01:8101/DynamicsAx/Services/MPABankReconciliationGroup?xsd=xsd3" namespace="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" />
      <xsd:import schemaLocation="http://ax-prod-aos-01:8101/DynamicsAx/Services/MPABankReconciliationGroup?xsd=xsd5" namespace="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" />
      <xsd:import schemaLocation="http://ax-prod-aos-01:8101/DynamicsAx/Services/MPABankReconciliationGroup?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://ax-prod-aos-01:8101/DynamicsAx/Services/MPABankReconciliationGroup?xsd=xsd2" />
      <xsd:import schemaLocation="http://ax-prod-aos-01:8101/DynamicsAx/Services/MPABankReconciliationGroup?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://ax-prod-aos-01:8101/DynamicsAx/Services/MPABankReconciliationGroup?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.AX.Framework.Services" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="MPABankReconciliationReconciliationRequest">
    <wsdl:part name="parameters" element="tns:MPABankReconciliationReconciliationRequest" />
  </wsdl:message>
  <wsdl:message name="MPABankReconciliationReconciliationRequest_Headers">
    <wsdl:part xmlns:q1="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q1:CallContext" />
  </wsdl:message>
  <wsdl:message name="MPABankReconciliationReconciliationResponse">
    <wsdl:part name="parameters" element="tns:MPABankReconciliationReconciliationResponse" />
  </wsdl:message>
  <wsdl:message name="MPABankReconciliation_reconciliation_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q2:AifFault" />
  </wsdl:message>
  <wsdl:portType name="MPABankReconciliation">
    <wsdl:operation name="reconciliation">
      <wsdl:input wsaw:Action="MPABankReconciliation/MPABankReconciliation/reconciliation" name="MPABankReconciliationReconciliationRequest" message="tns:MPABankReconciliationReconciliationRequest" />
      <wsdl:output wsaw:Action="MPABankReconciliation/MPABankReconciliation/reconciliationResponse" name="MPABankReconciliationReconciliationResponse" message="tns:MPABankReconciliationReconciliationResponse" />
      <wsdl:fault wsaw:Action="MPABankReconciliation/MPABankReconciliation/reconciliationAifFaultFault" name="AifFaultFault" message="tns:MPABankReconciliation_reconciliation_AifFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>