PANGEA.IMPORTSUITE.DataModel/Web References/MPA_RECONCILE_WS/wsAdminFiles.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="LoadNewFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="source" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="filename" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sheet" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fileToProcess" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="loadedBy" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadNewFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoadNewFileResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LoadNewFileSoapIn">
    <wsdl:part name="parameters" element="tns:LoadNewFile" />
  </wsdl:message>
  <wsdl:message name="LoadNewFileSoapOut">
    <wsdl:part name="parameters" element="tns:LoadNewFileResponse" />
  </wsdl:message>
  <wsdl:portType name="wsAdminFilesSoap">
    <wsdl:operation name="LoadNewFile">
      <wsdl:input message="tns:LoadNewFileSoapIn" />
      <wsdl:output message="tns:LoadNewFileSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsAdminFilesSoap" type="tns:wsAdminFilesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LoadNewFile">
      <soap:operation soapAction="http://tempuri.org/LoadNewFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsAdminFilesSoap12" type="tns:wsAdminFilesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LoadNewFile">
      <soap12:operation soapAction="http://tempuri.org/LoadNewFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsAdminFiles">
    <wsdl:port name="wsAdminFilesSoap" binding="tns:wsAdminFilesSoap">
      <soap:address location="http://ax-dev-web-01:9090/wsAdminFiles.asmx" />
    </wsdl:port>
    <wsdl:port name="wsAdminFilesSoap12" binding="tns:wsAdminFilesSoap12">
      <soap12:address location="http://ax-dev-web-01:9090/wsAdminFiles.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>