PANGEA.IMPORTSUITE.DataModel/Service References/AX_IMPORT/PANGEA_IMPORT_SUITE_SVC5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org" elementFormDefault="qualified" targetNamespace="http://tempuri.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PANGEA_IMPORT_SUITEDataUploadByTemplateRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_importFile" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="journalDescription" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="baseTemplate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PANGEA_IMPORT_SUITEDataUploadByTemplateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>